<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oujiajun.recruitment.dao.UserDao">

    <resultMap id="UserMap" type="User">
        <result property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="gender" column="gender"/>
        <result property="city" column="city"/>
        <result property="briefIntroduction" column="brief_introduction"/>
        <result property="age" column="age"/>
        <result property="education" column="education"/>
    </resultMap>

    <insert id="insertUser" parameterType="User">
        insert into recruitment.user
        values(#{id},
               #{email},
               #{username},
               #{password},
               #{gender},
               #{city},
               #{briefIntroduction},
               #{age},
               #{education}
       )
    </insert>


    <update id="updateUserById" parameterType="User">
        update user
        set
            username=#{username},
            gender=#{gender},
            city=#{city},
            brief_introduction=#{briefIntroduction},
            age=#{age},
            education=#{education}
        where id=#{id}
    </update>

    <select id="queryUserByUsernameAndPassword" parameterType="User" resultMap="UserMap">
        select id,
               username,
               password,
               gender,
               city,
               brief_introduction,
               age,
               education
        from user
        where username=#{username}
          And password=#{password}
    </select>

    <select id="queryUserById" parameterType="Int" resultMap="UserMap">
        select id,
               username,
               password,
               gender,
               city,
               brief_introduction,
               age,
               education
        from user
        where id=#{id}
    </select>

</mapper>